# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# PyCharm
.idea/

# VS Code
.vscode/

# Environment variables
.env

# OS-specific
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp